.wrapper {padding: 0 15px;}
.qp-settings {width: 100%;}
.qp-options {border:1px solid #B52C00;background:#FFF;padding:0 10px 10px 10px;margin:10px 10px 0 0;float:left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width:46%;}

@media only screen and (max-width: 600px) {.qp-options {width: 100%;}}

.qp-options p {margin: 4px 0;padding: 0;}
.qp-options h2 {color: #005F6B;}
.qp-options h3 {color: #717DD7;margin: 4px 0 0 0;padding: 0;}
.qp-options input[type=text], .qp-options textarea, .qp-options select {margin: 2px 0 2px 0;padding: 2px;color: #465069;font-size: 100%;border:1px solid #415063;width:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;height:auto}
.qp-options input#submit {background: #343838;color: #FFF;}
.qp-options ul {margin: 0;padding: 0;}
.qp-options table {width:100%;}
.qp-options th {text-align:left;}
.qp-options td {vertical-align:top;}

table#sorting{width:100%;}
#sorting tbody tr{outline: 1px solid #888;background:#E0E0E0;cursor:row-resize;}
#sorting tbody td{padding: 2px;line-height:auto;}
#sorting{border-collapse:separate;border-spacing:0 5px;}

#sorting tbody tr.button_active { background-color: white;}
#sorting tbody tr.button_inactive { background-color: #E0E0E0;}

.wp-color-result {margin-bottom: 0 !important;}

.qpupgrade {width:100%; margin: 12px 0;}
.qpupgrade h3 {margin:0;padding:0; color:#FFF;font-size:1em}
.qpupgrade p {margin:12px 0 0 0;color:#FFF;}
.qpupgrade a {display:block;text-align: center;width: 100%;background: #8951A5;padding: 12px 6px;color: #FFF;margin: 0;border:4px solid #999;border-radius: 12px;text-decoration:none;font-size:240%;line-height:1em;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.qpupgrade a:hover {color: #FFF;background: #343838;}
.qpupgrade a span {font-size:50%;}


#multipay>h1:first-child {
    background-image: url(https://ps.w.org/multipay/assets/icon-128x128.png);
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: 0px 2px;
    padding-left: 50px;
}
#multipay #poststuff #post-body.columns-2 {
    margin-right: 320px;
}
#multipay #post-body.columns-2 #postbox-container-1 {
    float: right;
    margin-right: -320px;
    width: 300px;
}
#multipay .box {
    margin-top: 20px;
    padding: .7em 1.5em 1em;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
#multipay #poststuff .box h2 {
    padding-left: 0;
    padding-right: 0;
}
#multipay .rate {
    display: inline-block;
    top: -2px;
    position: relative;
    margin-left: 5px;
}
#multipay .rating-stars a {
    text-decoration: none;
}
#multipay .box.rating h2 {
    display: inline-block;
}
#multipay .box.github img {
    height: 18px;
}
#multipay .byline {
    text-align: center;
    margin-top: 2em;
}